body {
  background-color: #b3c8cf;
  box-sizing: border-box;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 30px;
}
.description {
  max-width: 45%;
  margin: 30px;
}
.img_container img {
  width: 75%;
}
