.navbar {
  display: flex;
  margin: 30px 40px;
  color: #f1eedc;
  align-items: center;
  position: relative;
  font-size: 20px;
  user-select: none;
}
.main_right {
  position: absolute;
  right: 0;
}
.home {
  background-color: #bfd4db;
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  margin: 10px;
  transition: 0.5s;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 550;
}
.home:hover {
  background-color: #f1eedc;
}
.btn {
  border: none;
  background-color: #f1eedc;
  padding: 10px 25px;
  cursor: pointer;
  margin: 10px;
  transition: 0.5s;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 550;
}
.btn:hover {
  box-shadow: 0 0 10px #f1eedc;
}
